/* FONTS IMPLEMENTEREN */
@font-face {
  font-family: LouisVuitton;
  font-weight: normal;
  src: url("./fonts/LouisVuitton-Regular.woff2");
}

@font-face {
  font-family: LouisVuitton;
  font-weight: bold;
  src: url("./fonts/LouisVuitton-Demi.woff2");
}

@font-face {
  font-family: LouisVuittonOblique;
  font-weight: normal;
  src: url("./fonts/LouisVuitton-Oblique.woff2");
}

:root{
  --primary-color: white;
  --footer-color: #f8f8f8;
  --secondary-color: black;
  --font-color: black;
  --giftsulimg: #e7e6e5;
}

[data-theme="dark"] {
  --primary-color: #565353;
  --secondary-color: #b8b8b8;
  --footer-color:black ;
  --font-color: #fff;
  --giftsulimg: #97938f ;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 92%;
  background: var(--primary-color);
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 4em;
  align-items: center;
  z-index: 999;
}
header nav {
  /* JOUW CODE HIER - stap 1 */
  position: fixed;
  left:0;
  right:0;
  top:3.5em;
  bottom:0;
  background-color: var(--primary-color);
  translate: 0% -200%;
  transition:translate .3s;
}

header button img{
  padding: 0.5em;
  background-color: black;
}
header > button {
  order:-1;
  border: none;
  background-color: var(--primary-color);
}

header a{
  text-decoration: none;
  color: var(--font-color);
}

main{
  background-color: var(--primary-color);
}

h1{
  font-family: LouisVuitton;
  font-weight: bold;
  font-size: 22px;
}

/************/
/* HET MENU */
/************/
.modeswitch{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2em;
}

.modeswitch img{
  width: 3em;
  height: 3em;
  margin: 2em 0em 2em 0em;
}

.menubuttonlist li{
  display: flex;
}

.menubuttonlist li:last-of-type{
  margin-bottom: 2em;
  border-bottom: 1px solid black; /* Lijn tussen items */
}

.menulinks li{
  margin: 1em;
  font-family: LouisVuitton;
  font-weight: normal;
  font-size: 17px;
  text-decoration: none;
}

.menubuttonlist button{
  font-size: 20px;
  font-family: LouisVuitton;
  font-weight: normal;
  border: none;
  background-color: var(--primary-color);
  color: var(--font-color);
}

.menubuttonlist p{
  font-size: 20px;
  font-family: LouisVuitton;
  font-weight: Bold;
  padding: 1em 2em 1em 1em;
}

/* als menu open is */
nav.toonMenu {
  translate: 0% 0%;
  background-color: var(--primary-color);
  color: var(--font-color);
  width: 100%;
  padding: 1em 0em 0em 1em;
  top: 0em;
  overflow: scroll;
}

/* HERO GEDEELTE */
.hero {
  position: relative;
  background-color: white;
}

.hero video, .beschrijving video{
  height: 30em;
  object-fit: cover;
  width: 100%;
}

.hero h2{
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 5rem;
  left: 4rem;
  right: 4rem;
  font-family: LouisVuitton;
  font-weight: normal;
  font-size: 30px;
  color: white;
}

.hero div{
  position: absolute;
  display: flex;
  justify-content: center;   
  bottom: 3rem;
  left: 4rem;
  right: 4rem;
}

.hero a{
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: LouisVuitton;
  font-weight: normal;
  text-decoration: underline;
  color: white;
}

/* EXPLORE GEDEELTE */
.explore{
  background-color: var(--primary-color);
}

.explore ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1.2em;
}

.explore li{
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}

.explore img{
  width: 100%;
  border-radius: 2em; 
  order: -1;  
}

.explore H2{
  display: flex;
  text-align: center;
  font-family: LouisVuitton;
  font-weight: bold;
  font-size: 22px;
  padding: 2em;
  color: var(--font-color);
}

.explore H3{
  width: 100%;
  font-size: 15px;
  font-family: LouisVuitton;
  font-weight: bold;
  margin-top: 1em;
  color: var(--font-color);
}

/* GIFTS GEDEELTE */
.gifts, .recentlyviewed {
  display: flex;
  flex-direction: column; /* Zorgt ervoor dat elementen onder elkaar staan */
  align-items: center; /* Centreert horizontaal */
  background-color: transparent;
  margin-bottom: 2em;
}

.gifts img{
  position: sticky;
  top: 0;
  left: 0;
  height: 30em;
  object-fit: cover;
  width: 100%;
  margin: 0;   
}

.gifts h2, .recentlyviewed h2 {
  font-family: LouisVuitton;
  font-weight: normal;
  font-size: 17px;
  text-align: center; 
  padding-top: 2em;
  color: var(--font-color);
  z-index: 10;
}

.gifts h3, .recentlyviewed h3{
  font-family: LouisVuitton;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  margin-bottom: 1em;
  color: var(--font-color);
  z-index: 10;
}

.gifts ul, .recentlyviewed ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 1.2em 1.2em 3em 1.2em;
}

.gifts li, .recentlyviewed li{
  position:relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  color: var(--font-color);
  
}

.gifts ul li img, .recentlyviewed ul li img{
  width: 100%;
  height: 12em;
  background-color: var(--giftsulimg);
  order: -1;  
}

.gifts div > a:last-of-type{
  text-decoration: none;
  font-family: LouisVuitton;
  font-weight: normal;
  border: 1px solid black; 
  color: black;
  padding: .8125rem 2rem;
  border-radius: 2em; 
  margin-left: 5.5em;
  z-index: 10;
}

.gifts div, .recentlyviewed div{
  background-color: var(--primary-color);
  z-index: 10;
}

.gifts ul li a, .recentlyviewed ul li a{
  text-decoration: none;
  color: var(--font-colorr);
  position:relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}

.gifts button, .recentlyviewed button{
  text-decoration: none;
  position: absolute;
  right: 0.5em;
  top: 0.2em;
  z-index: 3;
  padding: 0em;
  font-size: 2em;
  background: none;
  border: none;
  width: fit-content;
  color: var(--font-color);
}

  li.liked button.like{  
  background: none;
  color:crimson;
  font-size: 2em;
}

.services{
  background-color: var(--primary-color);
}

.services h2{
  font-family: LouisVuitton;
  font-weight: bold;
  font-size: 22px;
  text-align: center; 
  margin-bottom: 1em;
  color: var(--font-color);
}

.services p{
  font-family: LouisVuitton;
  font-weight: normal;  
  font-size: 17px;
  margin-bottom: 2em;
  text-align: center;
  color: var(--font-color);
}
  
/******************************/
/* DE CAROCARROUSEL CONTAINER */
/******************************/

.caroCarrousel {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
	--caroCarrouselMainColor:#333;
  --caroCarrouselAccentColor:#1b75b3;
	--caroCarrouselShadeColor:#ddd9;

  position: relative;
	outline:none;

}

/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth als met js gescrolled wordt */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}

/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 90%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
  margin: 1.2em;
    
}

/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
}

.caroCarrousel li p{
  font-family: LouisVuitton;
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  margin: 1em 0em 1em 0em;
}

/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
	left: 2em; right: 2em;
	bottom: -1em;
	margin: 0;
  padding: 0em 0em 2em 0em;
  list-style: none;
	display: flex;
  justify-content: center;
  gap:.4em;
}

/* een bolletje container */
.caroCarrousel > nav li {
	flex-basis: 0.7em;
	aspect-ratio: 1/1;
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width:100%;
  height:100%;
  text-decoration: none;
	color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
	border-radius: 50%;
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
  transition: 0.5s;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
  background-color: currentColor;
}

/* FOOTER GEDEELTE */

.buttonlist{
  flex-direction: column;
  margin-bottom: 2em;
}

.buttonlist li {
  display: flex;
  border-bottom: 1px solid #ccc; /* Lijn tussen items */
  margin: 0.5em;
  justify-content: space-between;
}

.buttonlist button {
  font-size: 15px;
  border: none;
  background-color: var(--footer-color);
  padding: 1em 7em 1em 0em;
}

.buttonlist p{
  font-size: 15px;
  border: none;
  padding: 1em;
}

footer {
  background-color: var(--footer-color);
  text-align: center;
  padding: 20px;
}

footer h2{
  font-family: LouisVuitton;
  font-weight: bold;
  font-size: 22px;
  color: var(--font-color);
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

footer button{
  color: var(--font-color);
}

footer a {
  text-decoration: none;
  color: var(--font-color);
  margin: 0.5em;
}

footer p{
  color: var(--font-color);
}

/*TWEEDE PAGINA EXTRAS*/

.beschrijving video{
  position: sticky;
  top: 0;
  left: 0;
}

.beschrijving ul li{
  display: flex;
  justify-content: space-between;
}

.beschrijving div{
  background-color: var(--primary-color);
  z-index: 10;
  position:relative;
}

.beschrijving ul{
  margin: 1em ;
}

.beschrijving .intro button{
  text-decoration: none;
  padding: 0em;
  font-size: 1.8em;
  background: none;
  border: none;
  width: fit-content;
  color: var(--font-color);
}

.beschrijving h2{
  text-decoration: none;
  font-family: LouisVuitton;
  font-weight: normal;
  font-size: 17px;
  color: #565353;
}

.beschrijving h3{
  text-decoration: none;
  font-family: LouisVuitton;
  font-weight: normal;
  font-size: 18px;
  color: var(--font-color);
}

.beschrijving .tweebuttons button{
  text-decoration: none;
  background-color: transparent ;
  border: none;
}

.beschrijving .tweebuttons li {
  padding: 1em 0em 1em 0em;
  background-color: none ;
  font-family: Louis Vuitton;
  font-weight: normal;
  font-size: 17px;
}

.beschrijving .tweebuttons li:first-of-type{
  border-bottom: 1px solid black; /* Lijn tussen items */
}

.beschrijving .tweebuttons p{
  color:#97938f;
}

.beschrijving .koop{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.beschrijving .koop button{
  text-decoration: none;
  font-family: LouisVuitton;
  font-weight: normal;
  font-size: 17px ;
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 0.9rem 6rem;
  border-radius: 2em; 
  z-index: 10;
}

.beschrijving .koop a{
  color: var(--font-color );
}

.showmore{
  margin: 2em 1em 2em 1em;
  position: relative;
}

.showmore p{
  margin-bottom: 1em;
}

.read-more-check {
  display: none;
}

.read-more-label:after {
  content: 'See More';
}

.read-more-check:checked ~ .read-more-label:after {
  content: 'See Less';
}

.read-more-label {
  position: absolute; 
  display: block;
  bottom: -2em;
  padding: 1em 1em 1em 0em;
  background-color: transparent;
  color: var(--font-color);
  outline: none;
  transition: bottom .5s linear 0s;
  text-decoration: underline;
}

.read-more-check:checked ~ .read-more-label {
  bottom: -3em;
}

/*functionaliteit*/
.read-more {
  max-height: 0;

  overflow: hidden;
  transition: max-height .5s linear 0s;
}

.read-more-check:checked ~ .read-more {
  max-height: 20rem;
}


