/* FONTS IMPLEMENTEREN */
@font-face {
    font-family: LouisVuitton;
    font-weight: normal;
    src: url("./fonts/LouisVuitton-Regular.woff2");
}

@font-face {
    font-family: LouisVuitton;
    font-weight: bold;
    src: url("./fonts/LouisVuitton-Demi.woff2");
}

@font-face {
    font-family: LouisVuittonOblique;
    font-weight: normal;
    src: url("./fonts/LouisVuitton-Oblique.woff2");
}

:root{
  --primary-color: white;
  --footer-color: #f8f8f8;
  --secondary-color: black;
  --font-color: black;
  --giftsulimg: #e7e6e5;
}

[data-theme="dark"] {
  --primary-color: #565353;
  --secondary-color: #b8b8b8;
  --footer-color:black ;
  --font-color: #fff;
  --giftsulimg: #97938f ;
}

* {
    margin: 0;
    padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 92%;
  background: var(--primary-color);
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

header > button {
  order:-1;
  border: none;
}

.modeswitch img{
  width: 2em;
  height: 2em;
}



/************/
/* HET MENU */
/************/

header nav {
  /* JOUW CODE HIER - stap 1 */
  position: fixed;
  left:0;
  right:0;
  top:3.5em;
  bottom:0;
  
  /* JOUW CODE HIER - stap 2 */
  translate: 0% -150%;
  
  /* JOUW CODE HIER - stap 4 */
  transition:translate .3s;
}

header button img{
  padding: 0.5em;
  background-color: black;
}

header button{
  border: none;
}


.menubuttonlist li{
  display: flex;
  justify-content: space-between;
}

.menubuttonlist button{
  font-size: 20px;
  font-family: LouisVuitton;
  font-weight: normal;
  border: none;
  background-color: var(--primary-color);
  color: var(--font-color);
}

.menubuttonlist p{
  font-size: 20px;
  font-family: LouisVuitton;
  font-weight: Bold;
  padding: 1em 2em 1em 1em;
}

/* als menu open is */
nav.toonMenu {
  /* JOUW CODE HIER - stap 4 */
  translate: 0% 0%;
  background-color: var(--primary-color);
  color: var(--font-color);
  width: 100%;
  padding: 1em 0em 0em 1em;
  top: 0em;

}

header a{
  text-decoration: none;
  color: var(--font-color);
}

h1{
    font-family: LouisVuitton;
    font-weight: bold;
    font-size: 22px;
}

/* HERO GEDEELTE */
.hero {
    position: relative;;
    background-color: var(--primary-color);
}

.hero video{
    height: 30em;
    object-fit: cover;
    width: 100%;
}

.hero h2{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 5rem;
    left: 4rem;
    right: 4rem;
    font-family: LouisVuitton;
    font-weight: normal;
    font-size: 30px;
    color: white;
}

.hero div{
    position: absolute;
    display: flex;
    justify-content: center;   
    bottom: 3rem;
    left: 4rem;
    right: 4rem;
}

.hero a{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: LouisVuitton;
    font-weight: normal;
    text-decoration: underline;
    color: white;
}

/* EXPLORE GEDEELTE */
.explore{
  background-color: var(--primary-color);
}

.explore ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1.2em;

}

.explore li{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin-bottom: 2em;

}

.explore img{
    width: 100%;
    border-radius: 2em; 
    order: -1;  
}


.explore H2{
    display: flex;
    text-align: center;
    font-family: LouisVuitton;
    font-weight: bold;
    font-size: 22px;
    padding: 2em;
    color: var(--font-color);

}

.explore H3{
    width: 100%;
    font-size: 15px;
    font-family: LouisVuitton;
    font-weight: bold;
    margin-top: 1em;
    color: var(--font-color);
}

/* GIFTS GEDEELTE */
.gifts {
    display: flex;
    flex-direction: column; /* Zorgt ervoor dat elementen onder elkaar staan */
    align-items: center; /* Centreert horizontaal */
    background-color: var(--primary-color);
}

.gifts img{
    height: 30em;
    object-fit: cover;
    width: 100%;
    margin: 0;
    
}


.gifts h2{
    font-family: LouisVuitton;
    font-weight: normal;
    font-size: 17px;
    text-align: center; 
    padding-top: 2em;
    color: var(--font-color);
}

.gifts h3{
    font-family: LouisVuitton;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-bottom: 1em;
    color: var(--font-color);
}

.gifts ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 1.2em;
}

.gifts li{
  position:relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  color: var(--font-color);
}

.gifts ul li img{
    width: 100%;
    height: 12em;
    background-color: var(--giftsulimg);
    order: -1;  
}

.gifts > a:last-of-type{
    text-decoration: none;
    font-family: LouisVuitton;
    font-weight: normal;
    border: 1px solid black; 
    color: black;
    padding: .8125rem 2rem;
    border-radius: 2em; 
    margin: 3em 0em 3em 0em;
    
}

.gifts ul li a{
  text-decoration: none;
  color: var(--font-colorr);
  position:relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}

.gifts button {
  text-decoration: none;
  position: absolute;
  right: 0.5em;
  top: 0.2em;
  z-index: 3;
  padding: 0em;
  font-size: 2em;
  background: none;
  border: none;
  width: fit-content;
}

li.liked button.like {  
  background: none;
  color:crimson;
  font-size: 2em;
}

.services{
  background-color: var(--primary-color);
}

.services h2{
    font-family: LouisVuitton;
    font-weight: bold;
    font-size: 22px;
    text-align: center; 
    margin-bottom: 1em;
    color: var(--font-color);
}

.services p{
    font-family: LouisVuitton;
    font-weight: normal;  
    font-size: 17px;
    margin-bottom: 2em;
    text-align: center;
    color: var(--font-color);
}

  
/******************************/
/* DE CAROCARROUSEL CONTAINER */
/******************************/

.caroCarrousel {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
	--caroCarrouselMainColor:#333;
  --caroCarrouselAccentColor:#1b75b3;
	--caroCarrouselShadeColor:#ddd9;

  position: relative;
	outline:none;

}

/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth als met js gescrolled wordt */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}

/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 90%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
  margin: 1.2em;
    
}

/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
}

.caroCarrousel li p{
    font-family: LouisVuitton;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    margin: 1em 0em 1em 0em;
}


/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
	left: 2em; right: 2em;
	bottom: -1em;
	margin: 0;
  padding: 0em 0em 2em 0em;
  list-style: none;
	
	display: flex;
/* 	flex-wrap:wrap; */
  justify-content: center;
  gap:.4em;
}

/* een bolletje container */
.caroCarrousel > nav li {
	flex-basis: 0.7em;
	aspect-ratio: 1/1;
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width:100%;
  height:100%;
  
  text-decoration: none;
	color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
	border-radius: 50%;
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
  
  transition: 0.5s;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
  background-color: currentColor;
}

/* FOOTER GEDEELTE */

.buttonlist {
  flex-direction: column;
  margin-bottom: 2em;
}

.buttonlist li{
  display: flex;
  border-bottom: 1px solid #ccc; /* Lijn tussen items */
  margin: 0.5em;
  justify-content: space-between;
}

.buttonlist button{
  font-size: 15px;
  border: none;
  background-color: var(--footer-color);
  padding: 1em 7em 1em 0em;
}

.buttonlist p{
  font-size: 15px;
  border: none;
  padding: 1em;
}



footer {
    background-color: var(--footer-color);
    text-align: center;
    padding: 20px;

}

footer h2{
    font-family: LouisVuitton;
    font-weight: bold;
    font-size: 22px;
    color: var(--font-color);
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

}

footer button{
  color: var(--font-color);
}

footer a {
    text-decoration: none;
    color: var(--font-color);
    margin: 0.5em;
}

footer p{
  color: var(--font-color);
}

