* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

main{
    margin-top: 4em;
}

/* HERO GEDEELTE */

.hero {
    position: relative;
    background-color: white;
}

.hero video{
    /* position: absolute; */
    height: 30em;
    object-fit: cover;
    width: 100%;
}

.hero h2{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 5rem;
    left: 4rem;
    right: 4rem;
    color: white;
}

.hero div{
    position: absolute;
    display: flex;
    justify-content: center;   
    bottom: 3rem;
    left: 4rem;
    right: 4rem;
}

.hero a{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: underline;
    color: white;
}

.explore ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 1.2em;
}

.explore li{
    display: flex;
    flex-direction: column; 
    align-items: center;

}

.explore img{
    width: 100%;
    border-radius: 2em;   
}


.explore H2{
    display: flex;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.explore H3{
    width: 39%;
    font-size: 15px;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: #333;
}