* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    font-weight: bold;
    font-size: 22px;

}

.hero {
    height: 35em;
    background: url('images/LVTest.webp') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}

.hero p{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.hero-content h1 {
    font-size: 48px;
    margin-top: 8em;
    margin-bottom: 10px;

}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;

}

.hero-content button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;

}

.products {
    padding: 50px;
    text-align: center;

}

.products h2 {
    font-size: 36px;
    margin-bottom: 30px;

}

.product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;

}

.product {
    width: 200px;
    text-align: center;

}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;

}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
    margin-top: 50px;

}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

}

footer a {
    text-decoration: none;
    color: #333;

}